.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    // border: 1px solid green;
}

.nav-style {
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;

    @media screen and (max-width: 670px) {
        font-size: 1em;
    }
}