.logo-container {
    display: flex;
    width: 400px;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    // border: 1px solid red;

    @media screen and (max-width: 670px) {
    display: flex;
    width: 90%;
    margin: 0 2px;
    flex-wrap: wrap;
    }
}